* {
  box-sizing: border-box;
}


body {
  background-color: #F4EEDF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  margin: 0;
}


/* Reusable classes for container and clearfix */


.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 50px 50px;
}


.container-heading {
  width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}


.clearfix::after {
  content: '';
  display: table;
  float: none;
  clear: both;
  height: 0;
  visibility: hidden;
}


/* Header */


header {
  position: relative;
  height: 690px;
  background: url(../img/bilde1.png) no-repeat center;
  background-size: cover;
}


/* Navigation */


.navbar {
  background-color: #473a2d;
}


/* Main nav */


.logo {
  float: left;
  margin: 30px 0 0 0;
}


.main-nav {
  float: right;
  padding: 22px 25px 22px 0;
}


.main-nav-links {
  display: inline-block;
  border-right: 1px solid #fff;
  padding: 0 20px 0 0px;
}


.main-nav-links a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
}


.main-nav-links a:hover {
  background-color: #5B4D3B;
}


/* Language nav */


.lang-nav {
  float: right;
  padding: 22px 0;
}


.lang-nav-links {
  display: inline-block;
  padding: 0;
}


.lang-nav-links a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 20px 5px;
  vertical-align: middle;
}


.lang-nav-links a:hover {
  background-color: #5B4D3B;
}


/* Header main section */


.header-brand h1, .header-brand p {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  font-weight: normal;
  display: inline-block;
  line-height: 1.5            ;
  margin: 0 0 20px 0;
}


.header-content {
  position: relative;
  top: 250px;
}


.left-arrow, .right-arrow, .header-brand {
  display: inline-block;
}


.arrow {
  opacity: 0.3;
}


.header-brand {
  float: left;
  padding: 0 0 0 70px;
  width: 380px;
}


.right-arrow {
  float: right;
  position: absolute;
  top: 30px;
  left: 1125px;
}


.left-arrow {
  float: left;
  position: absolute;
  top: 30px;
  left: 50px;
}


/* Slider navigation thumbnails */


.nav-thumbs {
  margin: 0px auto;
  width: 10%;
  position: relative;
  top: 320px;
}


.nav-thumbs a {
    box-sizing: content-box;
    display:block;
    width:10px;
    height:10px;
    float: left;
    margin:0 5px;
    background-color: #AF926D;
    text-indent: -9999px;
    border: 2px solid #AF926D;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}


.nav-thumbs a:hover, .nav-thumbs a.active {
  background-color: rgba(255, 255, 255, 0.5);
}


.active {
  background-color: rgba(255, 255, 255, 0.5);
}


/* Reusable classes for grid */


.section-heading {
  font-weight: normal;
  color: #91752C;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px dashed #000;
  padding: 30px 0 20px 0;
  margin: 0;
}


.section-heading-dark {
  font-weight: normal;
  color: #C7A457;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px dashed #C7A457;
  padding: 30px 0 20px 0;
  margin: 0;
}


.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}


.cols-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}


/* Services section */


.services h3 {
  font-weight: normal;
  color: #473A15;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
}


.services ul {
  list-style: none;
  line-height: 1.5;
  color: #534C38;
  padding: 0 10px 0 0;
  margin: 0;
}


.services-image {
  float: left;
}


.services-list {
  overflow: hidden;
  padding: 0 30px;;
}


.services-list li {
  padding: 20px 0;
}


.services-list li:not(:last-child):after {
  content: '';
  display: block;
  position: relative;
  height: 1px;
  width: 60px;
  top: 20px;
  background-color: #BBB7AB;
  border-right: 1px white;
}


.wrapper {
  background: url(../img/fons.png) no-repeat center;
  background-size: cover;
  padding: 50px 0 0 0;
}


/* Services Prices section */


.services-prices {
  color: #534C38;
  line-height: 2;
}


.right-indent {
  margin: 0 30px 0 0;
}


.left-indent {
  margin: 0 0 0 30px;
}


.pricing-tables {
  border-collapse: collapse;
  border-spacing: 0;
}


.pricing-tables-border {
  border-bottom: 1px solid #DFD9CF;
}


.pricing-tables tr td:nth-child(2) {
  font-weight: bold;
}


.pricing-tables tr td:nth-child(1) {
  font-size: .8em;
}


.pricing-tables tr th:nth-child(1) {
  font-size: .8em;
  text-align: left;
}


.pricing-tables tbody tr:nth-of-type(2n+1) {
  background-color: #F2EBE1;
}


/* About section */


.about {
  background-color: #836744;
}


.about p {
  color: #fff;
  margin: 20px auto;
  line-height: 2;
}


.profile {
  text-align: center;
}


.profile h4 {
  font-size: 2em;
  font-weight: normal;
  color: #C7A457;
  border-bottom: 1px solid #876F51;
  padding: 20px 0;
  margin: 0px auto;
  width: 60%;
}


.profile ul {
  list-style: none;
  color: #C7A457;
  padding: 0;
}


.profiles-wrapper {
  margin: 50px 0 0 0;
}


.certificates {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
}


.certificates p {
  font-size: .8em;
  margin: 0;
  text-align: left;
  padding: 0 0 0 10px;
  line-height: normal;
  overflow: hidden;
}


.certificates img {
  float: left;
}


.inner {
  width: 50%;
}


.edgars {
  border-radius: 50%;
}


/* Clients section */


.clients .container {
  padding-bottom: 0;
}


.banners {
  padding: 40px 0 0 0;
}


.clients-line {
  text-align: justify;
}


.clients-line img {
	width: auto;
	display: inline-block;
	vertical-align: top;
  padding: 0 0 30px 0;

	/* IE fix. */
	*display: inline;
	zoom: 1;
}


.clients-line:after {
	content: "";
	width: 100%;
	display: inline-block;
}


.uptop {
  display: inline-block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px 15px;
  right: 20px;
  bottom: 20px;
}


/* Contacts section */


.contacts {
  background-color: #7B6345;
}


.contacts .row {
  padding: 50px 0 0 0;
}


.contact-info {
  text-align: center;
}


.contact-info ul {
  padding: 0 20px;
  list-style: none;
  color: #C7A457;
  line-height: 2;
}


.contact-info ul li:nth-child(2), legend {
  color: #EACC8B;
}


.contacts fieldset {
  border: none;
  padding: 0;
}


.contacts legend {
  text-transform: uppercase;
  padding: 0 0 15px 0;
}


.contacts input, textarea {
  border: none;
  margin: 0 0 20px 0;
}


.contacts textarea {
  width: 100%;
}


.contacts input[type="text"], input[type="email"] {
  width: 48%;
}


.contacts input[type="text"], input[type="email"], textarea {
  background-color: #7F6C42;
  font-size: .8em;
  color: #A28954;
  padding: 7px;
}

.contacts input[type="button"] {
  background-color: #B1965C;
  padding: 10px 25px;
  color: #fff;
  cursor: pointer;
}


.contacts input[type="text"] {
  float: left;
}


.contacts input[type="email"] {
  float: right;
}
