* {
  box-sizing: border-box;
}


body {
  background-color: #F4EEDF;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: lighter;
  margin: 0;
}


.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}


.clearfix::after {
  content: '';
  display: table;
  float: none;
  clear: both;
  height: 0;
  visibility: hidden;
}


/* Header */


header {
  position: relative;
  height: 690px;
  background: url(../img/bilde1.png) no-repeat center;
  background-size: cover;
}


/* Navigation */


.navbar {
  background-color: #473a2d;
  color: #fff;
}


/* Main nav*/


.logo {
  position: relative;
  padding: 22px 0;
  top: 10px;
  float: left;
}


.main-nav {
  float: right;
  padding: 22px 25px 22px 0;
}


.main-nav-links {
  display: inline-block;
  float: right;
  border-right: 1px solid #fff;
  padding: 0 20px 0 0px;
}


.main-nav-links a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 20px;
  vertical-align: middle;
}


.main-nav-links a:hover {
  background-color: #5B4D3B;
}


/* Language nav */


.lang-nav {
  float: right;
  padding: 22px 0;
}


.lang-nav-links {
  display: inline-block;
  padding: 0;
}


.lang-nav-links a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 20px 5px;
  vertical-align: middle;
}


.lang-nav-links a:hover {
  background-color: #5B4D3B;
}


/* Header main section */


.header-brand h1, .header-brand p {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  font-weight: normal;
  display: inline-block;
  line-height: 1.5            ;
  margin: 0 0 20px 0;
}


.header-content {
  position: relative;
  top: 250px;
}


.left-arrow, .right-arrow, .header-brand {
  display: inline-block;
}


.arrow {
  opacity: 0.3;
}


.right-arrow {
  float: right;
}


.left-arrow {
  float: left;
}


.header-brand {
  float: left;
  padding: 0 0 0 70px;
  width: 380px;
}


.right-arrow {
  position: absolute;
  top: 30px;
  left: 1125px;
}


.left-arrow {
  position: absolute;
  top: 30px;
  left: 50px;
}


/* Slider navigation thumbnails */
.nav-thumbs {
  position: absolute;
  clear:both;
  bottom:15px;
  left:42%;
}


.nav-thumbs ul {
  list-style-type: none;
}


.nav-thumbs ul li {
  float:left;
  margin-top:20px;
}


.nav-thumbs ul li a {
    box-sizing: content-box;
    display:block;
    width:10px;
    height:10px;
    float: left;
    margin:0 5px;
    background-color: #AF926D;
    text-indent: -9999px;
    border: 2px solid #AF926D;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
}


.nav-thumbs ul li a:hover, .nav-thumbs ul li a.active {
  background-color: rgba(255, 255, 255, 0.5);
}


.active {
  background-color: rgba(255, 255, 255, 0.5);
}


/* Common classes for grid */


.section-heading {
  font-weight: normal;
  color: #91752C;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px dashed #000;
  padding: 10px 0 20px 0;
  margin-bottom: 0;
}


.row {
  display: flex;
  padding: 20px 0 30px 0;
}


.cols {
  display: inline-block;
  flex: 1;
}


/* Services section */


.services {
  display: flex;
}


.services h3 {
  font-weight: normal;
  color: #473A15;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
}


.services ul {
  list-style: none;
  line-height: 1.5;
  color: #534C38;
  padding: 0 10px 0 0;
  margin: 0;
}


.services-image {
  display: inline-block;
  flex: 1;
}


.services-list {
  display: inline-block;
  flex: 3;
}


.services-list li {
  padding: 20px 0;
}


.services-list li:not(:last-child):after {
  content: '';
  display: block;
  position: relative;
  height: 1px;
  width: 60px;
  top: 20px;
  background-color: #BBB7AB;
  border-right: 1px white;
}


.wrapper {
  background: url(../img/fons.png) no-repeat center;
  background-size: cover;
  padding: 40px 0 30px 0;
}

/* Services Prices section */


.services-prices {
  color: #534C38;
  line-height: 2;
}


.right-indent {
  margin: 0 30px 0 0;
}


.left-indent {
  margin: 0 0 0 30px;
}
