* {
  box-sizing: border-box;
}


body {
  background: url(../img/background-light.png);
  font: 18px 'open_sans', sans-serif;
  margin: 0;
  min-width: 1200px;
}


/* Reusable classes for container and clearfix */


.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}


.clearfix::after {
  content: '';
  display: table;
  float: none;
  clear: both;
  height: 0;
  visibility: hidden;
}


/* Reusable classes for grid */


.section-heading {
  font-weight: normal;
  color: #91752C;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px dashed #000;
  margin: 0px;
  padding: 25px 0 13px;
  font-size: 30px;
}


.section-heading-dark {
  color: #c7a457;
  border-bottom: 1px dashed #c7a457;
  padding-bottom: 21px;
}


.section-heading-large {
  padding: 35px 0 23px;
}


.row {
  margin: 0 0 28px;
  overflow: hidden;
}


.col-1-1 {
  margin: 0 auto;
  width: 50%;
}


.col-1-1-3 {
  margin: 0 auto;
  width: 33.333%;
  overflow: hidden;
}


.col-1-2 {
  float: left;
  width: 50%;
}


.col-1-3 {
  float: left;
  width: 33.333%;
}


/* Navigation */


/* Common reusable classes for header navigation*/

.navbar {
  background-color: #473a2d;
  font-size: 15px;
}


.nav-links a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}


.nav-links a:hover {
  background-color: #5b4d3b;
}


.logo {
  float: left;
  margin: 25px 0 0 0;
}


/* Main nav */


.main-nav {
  float: right;
  padding: 0 22px 0 0;
  margin: 26px 0;
  position: relative;
}


.main-nav:after {
  content: '';
  position: absolute;
  left: 100%;
  top: -10px;
  height: 60px;
  width: 1px;
  background-color: #fff;
}



.main-nav-links a {
  padding: 10px 15px;
}


/* Language nav */


.lang-nav {
  float: right;
  padding: 0;
  margin: 26px 0 26px 25px;
  font-size: 13px;
}


.lang-nav-links a {
  vertical-align: middle;
  padding: 10px 5px;
}



/* Header */


header {
  position: relative;
  height: 689px;
  background: url(../img/bilde1.png) no-repeat center;
  background-size: cover;
  box-shadow: 0 1px 2px 1px #888;
}


header .container {
  position: relative;
}


/* Slider section of the header */


.header-brand {
  padding: 0;
  width: 310px;
  top: 258px;
  left: 81px;
}


.header-brand h1,
.header-brand p {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 4px 40px 10px 20px;
  font-weight: normal;
  display: inline-block;
  line-height: 1.5;
  margin: 0 0 20px 0;
  font-family: 'Open Sans', sans-serif;
}


.header-brand h1 {
  font-size: 38px;
}


.header-brand p {
  font-size: 21px;
  width: 409px;
  padding: 12px 12px 15px 20px;
  line-height: 1.7;
  word-spacing: -3px;
}


.left-arrow, .right-arrow, .header-brand {
  position: absolute;
}


.arrow {
  opacity: 0.3;
}


.arrow:hover {
  opacity: 0.5;
}


.right-arrow {
  right: 0px;
  top: 286px;
}


.left-arrow {
  left: 0px;
  top: 286px;
}


.nav-thumbs {
  margin: 0px auto;
  position: absolute;
  top: 568px;
  left: 0px;
  right: 0px;
  text-align: center;
}


.nav-thumbs a {
    box-sizing: content-box;
    display: inline-block; /* ! to display link as circles*/
    width: 10px;
    height: 10px;
    margin: 0 3px;
    background-color: #af926d;
    text-indent: -9999px;
    border: 2px solid #af926d;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}


.nav-thumbs a:hover,
.nav-thumbs a.active {
  background-color: rgba(255, 255, 255, 0.5);
}


/* Services section */


.services {
  padding: 0 0 0 38px;
  font-size: 17.1px;
}


.services:first-child {
  padding: 0;
}


.services:last-child {
  padding: 0 0 0 42px;
}



.services img {
  float: left;
}


.services h3 {
  font-weight: normal;
  color: #473a15;
  text-transform: uppercase;
  display: inline-block;
  margin: 0;
  padding: 0;
  letter-spacing: 1.3px;
  font-size: 21.1px;
}


.services ul {
  list-style: none;
  line-height: 1.55;
  color: #534c38;
  padding: 0;
  margin: 17px 0 0 0;
}


.services-list {
  overflow: hidden;
  padding: 0 0 0 20px;
}


.services-list li {
  padding: 10px 0;
  font-size: 15.5px;
  position: relative;
}


.services-list li:first-child {
  padding-top: 0;
}


.services-list li:not(:last-child):after {
  content: '';
  position: absolute;
  height: 1px;
  width: 19%;
  top: 100%;
  left: 0;
  background-color: #bbb7ab;
}


.services-wrapper {
  background: url(../img/fons.png) no-repeat center;
  background-size: cover;
  padding: 56px 0 0 0;
}


/* Services Prices section */


.services-prices {
  color: #534c38;
}


.services-prices p {
  margin: 18px 0px 16px;
  line-height: 1.77;
}


.right-indent {
  padding: 0 30px 0 0;
  margin: 0 0 10px;
}


.left-indent {
  padding: 0 0 0 30px;
}


.pricing-tables {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 25px 0;
}


.pricing-tables th, td {
  padding: 6px 22px 8px 16px;
  line-height: 1.6;
}


.pricing-tables-border {
  border-bottom: 1px solid #dfd9cf;
}


.pricing-tables tr td:nth-child(2) {
  font-weight: bold;
}


.pricing-tables tr td:nth-child(1) {
  font-size: .8em;
}


.pricing-tables tr th:nth-child(1) {
  font-size: .8em;
  text-align: left;
}


.pricing-tables tbody tr:nth-of-type(2n+1) {
  background-color: #f2ebe1;
}


.table-no-background td {
  background: url(../img/background-light.png);
  font-style: oblique;
}


.bold-text {
  font-weight: bold;
}


/* About section */


.about {
  background-color: #836744;
  overflow: hidden;
  background: url(../img/backsecfour.png) no-repeat center;
  background-size: cover;
}


.about p {
  color: #fff;
  margin: 20px auto 25px;
  line-height: 1.9;
  font-size: 17.3px;
}


.profile {
  text-align: center;
  margin: 0 0 18px;
}


.profile img {
  width: 166px;
  height: 167px;
}


.profile h4 {
  font-size: 32px;
  font-weight: normal;
  color: #C7A457;
  border-bottom: 1px solid #876F51;
  padding: 0 0 10px;
  margin: 0 auto;
  width: 60%;
}


.profile address {
  padding: 0;
  margin: 7px 0px 25px;
  font-style: normal;
}


.profile address a {
  color: #c7a457;
  text-decoration: none;
}


.profile address a:hover {
  text-decoration: underline;
}


.profile-description p {
  font-size: 15.3px;
  margin: 0 0 18px;
  line-height: 1.92;
}


.certificates {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px 20px 0;
  text-align: center;

}


.certificates li {
  font-size: 13px;
  color: #fff;
  margin: 0 0 20px 0;
  text-align: left;
  padding: 0 0 0 70px;
  line-height: normal;
  width: 49%;
  display: inline-block;
  background: url(../img/sertif.png) no-repeat 35px center;
  min-height: 39px;
}


.staff-picture {
  border-radius: 50%;
  border: 10px solid #c7a457;
  box-sizing: content-box;
}


/* Clients section */


.banners {
  margin: 50px 0 28px;
}


.clients-line {
  text-align: justify;
}


.clients-line:nth-child(2n) {
  margin: 65px 0px 45px;
}



.clients-line img {
	width: auto;
	display: inline-block;
	vertical-align: top;

	/* IE fix. */
	*display: inline;
	zoom: 1;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}


.clients-line img:hover {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}


.clients-line:after {
	content: '';
	width: 100%;
	display: inline-block;
}


/* Contacts section */


.wrapper-contacts {
  overflow: auto;
  margin: 35px 0px 65px;
}


.contacts {
  background-color: #7b6345;
  overflow: hidden;
  background: url(../img/backsecfour.png) no-repeat center;
  background-size: cover;
}


.contact-info {
  text-align: center;
  font-size: 15px;
  margin-top: 14px;
  line-height: 4
}


.contact-info address {
  padding: 0 20px;
  color: #c7a457;
  line-height: 1.9;
  font-style: normal;
}


.contact-info address a {
  text-decoration: none;
}


.contact-info span,
span a,
legend {
  color: #eacc8b;
}


.footer-mailto a {
  color: #c7a457;
}


.contacts fieldset {
  border: none;
  padding: 0;
}


.contacts legend {
  text-transform: uppercase;
  padding: 0 0 15px;
  font-size: 14px;
}


.contacts input, textarea {
  border: none;
  margin: 0 0 25px;
}


.contacts textarea {
  width: 100%;
}


.contacts input[type="text"], input[type="email"] {
  width: 48%;
}


.contacts input[type="text"], input[type="email"], textarea {
  background-color: #7f6c42;
  font-size: 11px;
  color: #a28954;
  padding: 10px;
}

.contacts input[type="button"] {
  background-color: #b1965c;
  padding: 10px 25px;
  color: #fff;
  cursor: pointer;
}


.contacts input[type="text"] {
  float: left;
}


.contacts input[type="email"] {
  float: right;
}


::-webkit-input-placeholder {
   color: #a28954;
}


.location {
  border: 7px solid #c7a457;
}


/* Back to top button */


.uptop {
  display: inline-block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 14px 10px;
  right: 32px;
  bottom: 35px;
  opacity: .6;
}


.uptop:hover {
  opacity: 1;
}
